@(id:Long,cursoForm:Form[Curso]) 


@main("Alterar Curso"){
<div class="container">
<div class="header">
	<ul class="nav nav-pills pull-right">
			<li class="active"><a href="/">Home</a></li>
		</ul>
		</div>
		
		@helper.form(routes.CursoCrud.alterar(id)) {
      <form class="form-horizontal">
		
		<legend>Alterar Curso</legend>

		<div class="control-group">
		  <div class="controls">

		 @helper.inputText(cursoForm("nome"), '_label -> "Nome do Curso:")

		 
		  <h3>Turnos:</h3>

		 	 <label class="checkbox">
         		 <input type="checkbox" name="matutino" value="1"> Matutino
    		</label>

    		<label class="checkbox">
         		 <input type="checkbox" name="vespertino" value="1">Vespertino
    		</label>

    		<label class="checkbox">
         		 <input type="checkbox" name="noturno" value="1"> Noturno
    		</label>

		  
		  </div>
		</div>
		

		<div class="control-group">
		  <label class="control-label" for="singlebutton"></label>
		  <div class="controls">
		    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Gravar</button>
		  </div>
		</div>
}
	

</div>	

}