@(id:Long,professorForm:Form[Professor]) 
@import helper._

@main("Alterar Professor"){
<div class="container">
<div class="header">
	<ul class="nav nav-pills pull-right">
			<li class="active"><a href="/">Home</a></li>
		</ul>
		<h1>Alterar Professor</h1>
		@form(routes.ProfessorCrud.alterarProfessor(id)){
		<fieldset>
			@inputText(professorForm("nome"), '_label -> "Nome do Professor")
			@inputText(professorForm("matricula"), '_label -> "Matricula:")
			@inputText(professorForm("cpf"), '_label -> "CPF")
			@inputText(professorForm("email"), '_label -> "Email")
			@inputPassword(professorForm("senha"), '_label -> "Senha:")
		</fieldset>
        <div class="control-group">
			<div class="actions">
				<input type="submit" value="Gravar" class="btn btn-primary">
				<a href="@routes.ProfessorCrud.listarProfessor()" class="btn btn-primary">
					Cancelar
				</a>
	}
	
</div>
</div>	
</div>
}