 

@main("Pagina Incial") {

 <div class="navbar navbar-inverse navbar-static-top">
	<div class="container">
		<div class="navbar-header">
		<button type="button" class="navbar-toggle"
		data-toggle="collapse" data-target=".navbar-collapse">
		</button>
		<a class="navbar-brand" href="/">Home</a>
		</div>
	<div class="collapse navbar-collapse">
		<ul class="nav navbar-nav">			
			<li><a href="/listagem">Elaborar Prova</a></li>

		</ul>
	</div>
	</div>
</div>



        

           <div class="row">
        <div class="col-md-3"> <a href="/curso" class="btn btn-primary" role="button">Curso</a></div>
        <div class="col-md-3"> <a href="/turma" class="btn btn-primary" role="button">Turma</a></div>
        <div class="col-md-3"> <a href="disciplina" class="btn btn-primary" role="button">Disciplina</a></div>
        <div class="col-md-3"> <a href="professor" class="btn btn-primary" role="button">Professor</a></div>
      </div>


}
