

@main("Listagem"){

<div class="container">
	<div class="header">
        <ul class="nav nav-pills pull-right">
	          <li class="active">
	          <a href="/">Home</a>
	          </li>
	    </ul>
     </div>
</div>
      

<!-- ================================================-->

<div class="btn-group btn-group-justified">
	@for(curso <- Curso.find.findList()){		
	  <div class="btn-group">
	  <dl>
	  	<dt>@curso.getNome()</dt>
	  	<dd>
	  	
	  		@for(turma <- Turma.find.where().eq("curso_id_curso", curso.getIdCurso).findList()){
			
			@if(Prova.findByIdProva(turma.getIdTurma()) != null){
			<a href="@routes.QuestaoCrud.parseId(Prova.findByIdProva(turma.getIdTurma()))">
			@turma.getNome()			
			</a><br>
	    	}
	    	}
	    
	    </dd>
	  </dl>
	    	
	  </div>
	  }
	  
	  

</div>


}