@(list: List[Disciplina])

@main("Listagem"){

<div class="container">
	<div class="header">
        <ul class="nav nav-pills pull-right">
	          <li class="active">
	          <a href="/">Home</a>
	          </li>
	    </ul>
     </div>
</div>
      

<!-- ================================================-->

<div class="btn-group btn-group-justified">
	  <div class="btn-group">
	    	<select name="" class="form-control">
	    		<option value=""></option>	    		
	    	</select>
	  </div>
	  <div class="btn-group">
	    	 <select name="" class="form-control">
	    		<option value=""></option>	    		
	    	</select>
	  </div>
	  <div class="btn-group">
	   		<select name="" class="form-control">
	    		<option value=""></option>	    		
	    	</select>
	  </div>
	   <div class="btn-group">
	    	<select name="" class="form-control">
	    		<option value=""></option>	    		
	    	</select>
	  </div>
	   <div class="btn-group">
	    	<select name="" class="form-control">
	    		<option value=""></option>	    		
	    	</select>
	  </div>  

</div>


}