@(form: Form[Usuario])

@main("Login"){
	
<div class="navbar navbar-inverse navbar-static-top">
	<div class="container">
		<div class="navbar-header">
		<button type="button" class="navbar-toggle"
		data-toggle="collapse" data-target=".navbar-collapse">
		</button>
		<a class="navbar-brand" href="/">Home</a>
		</div>
	<div class="collapse navbar-collapse">
		<ul class="nav navbar-nav">			
			<li><a href="/listagem">Elaborar Prova</a></li>

		</ul>
	</div>
	</div>
</div>

<div class="container">
@helper.form(action=routes.UsuarioCrud.login()){
	<form  class="form-signin" role="form">
	<h2 class="form-singnin-heading">Login de Usuário</h2>
	
	<dl>
		<dt>Matricula:</dt>
		<dd><input type="text" name="matricula" id="matricula" class="form-control" placeholder="Matricula"></dd>
	</dl>

	<dl>
	    <dt><label for="senha">Senha</label></dt>
	    <dd><input type="password" id="senha" name="senha" class="form-control" placeholder="Senha"></dd>
	</dl>

	<label class="checkbox">
          <input type="checkbox" value="Mantenha-me conectado"> Mantenha-me conectado
    </label>

	<button type="submit" class="btn btn-lg btn-primary btn-block">Entrar</button>
	</form>
</div>
}
}