@(professorForm : Form[Professor])

@main("Novo Professor") {

   <div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">Home</a></li>
        </ul>
      </div>
      <div>
      @helper.form(action=routes.ProfessorCrud.gravarProfessor()) {
      <form class="form-horizontal">
		<fieldset>

		<legend>Novo Professor</legend>

		<div class="control-group">
		  <div class="controls">
		    <p class="help-block">Informe os dados do Professor</p>
		    @helper.inputText(professorForm("Nome"))
		     @helper.inputText(professorForm("cpf"))
		     @helper.inputText(professorForm("Email"))
		  </div>
		</div>
		}

		<div class="control-group">
		  <label class="control-label" for="singlebutton"></label>
		  <div class="controls">
		    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Gravar</button>
		  </div>
		</div>

      </div>
  </div>
}  