
@(cursos: List[Curso], form: Form[Turma], turmas: List[Turma])

@main("Lista de Turma"){
 
 <div class="container">
	<div class="header">
        <ul class="nav nav-pills pull-right">
	          <li class="active">
	          <a href="/">Home</a>
	          </li>
	    </ul>
     </div>

      @helper.form(action=routes.TurmaCrud.gravarTurma()) {

		<legend>Nova Turma</legend>
		    
		 <div class="control-group">
		  <div class="controls">
		  
		    <dl>
		  	<dt><label for="nome">Nome do Turma:</label></dt>
		  	<dd><input type="text" id="nome" name="nome" placeholder=""></dd>
		  </dl>

		  <dl>
		  	<dt><label for="nome">Quantidade de questão:</label></dt>
		  	<dd><input type="text" id="nome" name="qtdQuestao" placeholder=""></dd>
		  </dl>

		    <label for="">Curso:</label><br>
		    <select name="idCurso">
		    	@for(curso <- cursos){
		    	<option value="@curso.getIdCurso()">@curso.getNome()</option>
		    	}
		    </select>
		</div>
		  </div>

		  	 <div class="control-group">
		  	 <label class="control-label" for="singlebutton"></label>
		  	 <div class="controls">
		    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Gravar</button>
		    </div>
		  </div>


		  	}
</div>
		  	<hr>

		  	<h1>Lista de Turma</h1>

		  	<table class="table table-striped table-bordered" id="example"
cellpadding="0" cellspacing="0" border="0" width="100%">
		  		<thead>
		  			<tr>
		  				<td>Codigo</td>
		  				<td>Descrição</td>
		  				<td>Quant. Questões</td>
		  				<td>Curso</td>
		  				<td>Ação Remover</td>
		  			</tr>
		  		</thead>
		  		<tbody>
		  		@for(turma <- turmas){
		  			<tr>
		  				<td><a href="@routes.TurmaCrud.detalharTurma(turma.getIdTurma())">@turma.getIdTurma()</a></td>
		  				<td>@turma.getNome()</td>
		  				<td>@turma.getQtdQuestao()</td>
		  				<td>@Curso.find.byId(turma.getIdCurso()).getNome()</td>
		  				<td>
		  				@helper.form(routes.TurmaCrud.removerTurma(turma.getIdTurma())){
		  				<input type="submit" value="Remover" class="btn danger">
		  				}
		  				</td>
		  			</tr>
		  			}
		  		</tbody>
		  	</table>


}
