@(usuarios: List[Usuario],userForm : Form[Usuario]) 

@main("Usuário"){

<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">Home</a></li>
        </ul>
      </div>
      
      @helper.form(action=routes.UsuarioCrud.gravarUsuario()) {
      
	

		<legend>Novo Usuário</legend>		
		    
		    <dl>
		    	<dt><label for="nome">Nome:</label>
		    	</dt>
		    	<dd><input type="text" name="nome" id="nome"></dd>
		    </dl>
		    <dl>
		    	<dt> <label for="">Matricula:</label></dt>
		    	<dd><input type="text" name="matricula" id="matricula"></dd>
		    </dl>
		   
		    <dl>
		    <dt><label for="">Senha:</label></dt>
		    <dd><input type="password" name="senha" id="senha"></dd>
		    </dl>

		  
		
		

		<div class="control-group">
		  <label class="control-label" for="singlebutton"></label>
		  <div class="controls">
		    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Gravar</button>
		    
		  </div>
		</div>
}
    
  </div>




		  	<table class="table table-striped table-bordered" id="example"
cellpadding="0" cellspacing="0" border="0" width="100%">
		  		<thead>
		  			<tr>
		  				<td>Código</td>
		  				<td>Nome</td>
		  				<td>Matricula</td>
		  				<td>Senha</td>
		  				<td>Remoção</td>
		  				
		  			</tr>
		  		</thead>
		  		<tbody>
		  		@for(user <- usuarios){
		  			<tr>
		  				<td><a href="@routes.UsuarioCrud.detalhar(user.getIdUsuario())">@user.getIdUsuario()</a></td>
		  				<td>@user.getNome()</td>
		  				<td>@user.getMatricula()</td>

		  				<td>@user.getSenha()</td>
		  				<td>
		  					@helper.form(routes.UsuarioCrud.remover(user.getIdUsuario())){
	                        <input type="submit" value="Remover" class="btn danger">
}
		  				</td>
		  				
		  			</tr>
		  			}
		  		</tbody>
		  	</table>

} 